header{
  text-align: center;
  margin: 2%;
  color: #797d62;
  background-color: #d4d3d3;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
body{
  background-color: #bebebe;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dados{
  box-sizing: border-box;
  width: 100%;
  text-align: justify;
}
.content{
  margin-bottom: 15px;
  padding: 3px;
  border-radius: 5px;
}
#input-state{
  border-radius: 5px;
  background-color: #afafaea9;
  font-size: 16px;
}
.textarea{
  width: 100%;
  resize: none;
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #dfdfdf;
}
fieldset{
  margin-bottom: 30px;  
}
input[type = text]{
  border-radius: 5px;
  text-align: justify;
  width: 50%;
  height: 25px;
  font-size: 16px;
  background-color: #dfdfdf;
}
.botao{
  font-size: 18px;
  border-radius: 5px;
  margin: 10px;
}