h1{
    font-size: 65px;
    color:orange;
    font-family: sans-serif;
    text-align: center;
}

.bk-color{
     background: rgb(43, 214, 226);
    font-style: oblique;
}

body{
    font-size: 16px;
}

p{
    font-weight: 600;
    font-size: 3em;
}

ul {
    line-height: 30px;
    text-decoration: underline;
}

#yellow {
  background: yellow;
}
#red {
  background: red;
}
#brown {
  background: brown;
}
